.home-header-ul {
  display: flex;
  list-style: none;
}
.home-header-ul-li {
  margin-left: 18px;
  font-size: 14px;
  color: rgb(220, 220, 220);
}
.active {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}
