.footer-ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.footer-li {
  margin-top: 12px;
  flex-basis: 100%;
  font-size: 0.875rem;
}
@media (min-width: 600px) {
  .footer-li {
    flex-basis: 50%;
  }
}
@media (min-width: 960px) {
  .footer-li {
    flex-basis: 33.3333333%;
  }
}
@media (min-width: 1280px) {
  .footer-li {
    flex-basis: 25%;
  }
}
